/* estilos desktop */
.cuatro-columnas {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr); /* Cambiado a 4 columnas */
    grid-gap: 1rem 30px;
    margin-bottom: 40px; /* Añadido espacio inferior */
}


.cuatro-columnas h3 {
    margin-bottom: 20px; /* Espacio inferior para el título */
}

.cuatro-columnas table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
}

.cuatro-columnas table td {
    padding: 10px; /* Espaciado interior para las celdas */
}

/* Estilos para la sección de descargas */
.descarga {
    margin-bottom: 20px; /* Espacio inferior para separar de otros elementos */
}

.descarga h3 {
    margin-bottom: 10px; /* Espacio inferior para el título */
}

.descarga table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    border-collapse: collapse; /* Colapso de bordes */
}

.descarga td {
    padding: 10px; /* Espaciado interior para las celdas */
    text-align: center; /* Centrado del contenido */
}

/* Estilos de las imágenes de las tiendas de aplicaciones */
.descarga img {
    max-width: 100%; /* Para que las imágenes se ajusten al ancho del contenedor */
    height: auto; /* Para mantener la proporción */
}


/* estilos dektop acá */


/*media queries*/
/* la decisión fue armar el responsive abordándolo como desktop first.
Los mediaqueries entonces son armados con max-width, pasando por los breakpoints:
1440px - contenedor máximo
992px - tablet
768px - mobile
*/
@media screen and (max-width:1440px) { 


}

/* ajustes para tablet*/
@media (max-width:992px) { 

    .cuatro-columnas {
        grid-template-columns: repeat(2, 1fr); /* Cambiado a 2 columnas para tablet */
    }
}
/* ajustes para mobile */
@media (max-width:768px) { 
    .cuatro-columnas {
        grid-template-columns: 1fr; /* Cambiado a una sola columna para móvil */
    }

    .cuatro-columnas h3 {
        font-size: 1.5rem; /* Reducir tamaño del título */
    }

    .descarga table {
        display: block; /* Cambia a visualización de bloque */
    }

    .descarga td {
        display: block; /* Cambia a visualización de bloque */
        text-align: center; /* Centra el contenido */
    }
}



